In [2]:
import pandas as pd

In [3]:

chemin = "Https://bit.ly/world-cities-clean"
test = pd.read_csv(chemin)
test.head(5)

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

## Exercice 1

In [4]:
chemin ="chemin/qui/nexistepas"
data = pd.read_csv(chemin)

FileNotFoundError: [Errno 2] No such file or directory: 'chemin/qui/nexistepas'

auncun fichier ou chemin  correspondant a 'chemin/qui/nexistepas' a ete trouvé

### Raccourcis

### Exercice 2

In [12]:
chemin = "Https://bit.ly/world-cities-dirty-v1"
data = pd.read_csv(chemin,header=1, names=['Escaldes', 'andorra','EscaldesEngordany','304050'])
data

                Escaldes               andorra    EscaldesEngordany   304050
0         Umm al Qaywayn  United Arab Emirates       Umm al Qaywayn   290594
1         Ras al-Khaimah  United Arab Emirates      Raʼs al Khaymah   291074
2           Khawr Fakkān  United Arab Emirates         Ash Shāriqah   291696
3                  Dubai  United Arab Emirates                Dubai   292223
4      Dibba Al-Fujairah  United Arab Emirates          Al Fujayrah   292231
...                  ...                   ...                  ...      ...
23011           Bulawayo              Zimbabwe             Bulawayo   894701
23012            Bindura              Zimbabwe  Mashonaland Central   895061
23013         Beitbridge              Zimbabwe   Matabeleland South   895269
23014            Epworth              Zimbabwe               Harare  1085510
23015        Chitungwiza              Zimbabwe               Harare  1106542

[23016 rows x 4 columns]

changement des noms des colonnes lors de l'importation du fichier csv
header=1 fait que l'entete sera ignoré

### Exercice 3

In [43]:
chemin = "Https://bit.ly/world-cities-dirty-v2"
data = pd.read_csv(chemin, skiprows=2, skipfooter=2, encoding='UTF-8')
data.head(4)

<ipython-input-43-ca4a01de049c>:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  data = pd.read_csv(chemin, skiprows=2, skipfooter=2, encoding='UTF-8')

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074

ce n'est pas un message d'erruer mais le fichier a un paragraphe en entete et en pied de fichier

### Exercice 4

In [48]:
chemin = "Https://bit.ly/world-cities-dirty-v3"
data = pd.read_csv(chemin, delimiter="|")
data.isna().sum()

les Escaldes           0
Andorra                0
Escaldes-Engordany    26
3040051                0
dtype: int64

data.shape pour regarder le nombres de ligne et de colonnes
data.dtypes pour regarder le nom des colonnes et leur type d'un seul coup (j'en profite pour repérer d'éventuel conversion de types qu'il faudra effectuer)
data.head() pour regarder à quoi ressemble les premières lignes du dataset.
data.tail() pour regarder les dernières lignes du dataset. J'en profite pour comparer le résultat de head avec celui de tail, y-a-t'il une quelconque différence? Parfois les anomalies sont rangées à la fin du dataset.
data.isna().sum() pour vérifier la présence de valeurs manquantes par colonnes.

le fichier a pour delimiteur le caractere "|"

### Exercice 5

In [51]:
chemin = "https://bit.ly/bitcoin-data"
dt = pd.read_csv(chemin)
dt.head(5)

          Date    Open*     High      Low  Close**        Volume    Market Cap
0  Jan 14 2020  8140.93  8879.51  8140.93  8827.76  4.484178e+10  1.603195e+11
1  Jan 13 2020  8189.77  8197.79  8079.70  8144.19  2.248291e+10  1.478905e+11
2  Jan 12 2020  8033.26  8200.06  8009.06  8192.49  2.290344e+10  1.487530e+11
3  Jan 11 2020  8162.19  8218.36  8029.64  8037.54  2.552117e+10  1.459242e+11
4  Jan 10 2020  7878.31  8166.55  7726.77  8166.55  2.871458e+10  1.482499e+11

## Bonnes pratiques à l'ouverture d'un CSV

### Application

In [55]:
base1=pd.read_csv("https://bit.ly/world-cities-clean")
base2=pd.read_csv("https://bit.ly/bitcoin-data")

#### Dimensions de la table de données

In [56]:
print(base1.shape, base2.shape)

(23018, 4) (33, 7)

La base de donnée 1 est composée de 23 018 lignes et de 4 colonnes.
La base de donnée 2 est composée de 33 lignes et de 7 colonnes.

#### Prévisualisation des données

##### Premières lignes

In [ ]:
data.drop('Open*', axis='columns', inplace='True')
data.drop('Open*', axis='columns')

In [54]:
toy = pd.DataFrame(data= {'a':[1,2],'b':[3,4]})

toy.rename(str.upper,
         axis='columns',
         inplace=True)
toy.columns = str.upper()



### Raccourcis

Commandes en mode édition (cellule bleue) :

r : Passer la cellule en mode Raw (ignoré par l'exécution)
y : Passer la cellule en mode Code
m : Passer la cellule en mode Markdown
a : Créer une nouvelle cellule au dessus
b : Créer une nouvelle cellule en dessous
dd : Supprimer la cellule (irréversible)
shift + enter : Passer à la cellule suivante

In [57]:
base1.head()

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

#### Dernières lignes

In [58]:
base1.tail()

              name   country           subcountry  geonameid
23013     Bulawayo  Zimbabwe             Bulawayo     894701
23014      Bindura  Zimbabwe  Mashonaland Central     895061
23015   Beitbridge  Zimbabwe   Matabeleland South     895269
23016      Epworth  Zimbabwe               Harare    1085510
23017  Chitungwiza  Zimbabwe               Harare    1106542



Les données ont l'air d'être triées dans l'ordre croissant selon le Pays.
Pas de déchet au début ou à la fin du fichier.



#### Premières lignes

In [60]:
base2.head()

          Date    Open*     High      Low  Close**        Volume    Market Cap
0  Jan 14 2020  8140.93  8879.51  8140.93  8827.76  4.484178e+10  1.603195e+11
1  Jan 13 2020  8189.77  8197.79  8079.70  8144.19  2.248291e+10  1.478905e+11
2  Jan 12 2020  8033.26  8200.06  8009.06  8192.49  2.290344e+10  1.487530e+11
3  Jan 11 2020  8162.19  8218.36  8029.64  8037.54  2.552117e+10  1.459242e+11
4  Jan 10 2020  7878.31  8166.55  7726.77  8166.55  2.871458e+10  1.482499e+11



#### Dernières lignes

In [61]:
base2.tail()

,Date,Open*,High,Low,Close**,Volume,Market Cap
28,Dec 17 2019,6931.32,6964.07,6587.97,6640.52,2.236380e+10,1.202342e+11
29,Dec 16 2019,7153.66,7171.17,6903.68,6932.48,2.021327e+10,1.255156e+11
30,Dec 15 2019,7124.24,7181.08,6924.38,7152.30,1.688113e+10,1.294814e+11
31,* Earliest data in range (UTC time),NaN,NaN,NaN,NaN,NaN,NaN
32,** Latest data in range (UTC time),NaN,NaN,NaN,NaN,NaN,NaN

Les données ont l'air d'être triées dans l'ordre décroissant selon la Date.
Déchets à la fin du fichier.

#### Recherche de valeurs manquantes

In [62]:
base1.isna().sum()

name           0
country        0
subcountry    26
geonameid      0
dtype: int64

#### Données manquantes dans la colonne subcountry.

In [63]:
base2.isna().sum()

Date          0
Open*         2
High          2
Low           2
Close**       2
Volume        2
Market Cap    2
dtype: int64

Données manquantes correspondant aux lignes issues des déchets.

### Modifier une base de données¶

#### Modifier le nom d'une colonne

###### via la fonction rename

In [64]:
base_rename=base2.copy()
base_rename.rename(columns={"Open*": "Open", "Close**":"Close"}, inplace=True)
base_rename.head()

          Date     Open     High      Low    Close        Volume    Market Cap
0  Jan 14 2020  8140.93  8879.51  8140.93  8827.76  4.484178e+10  1.603195e+11
1  Jan 13 2020  8189.77  8197.79  8079.70  8144.19  2.248291e+10  1.478905e+11
2  Jan 12 2020  8033.26  8200.06  8009.06  8192.49  2.290344e+10  1.487530e+11
3  Jan 11 2020  8162.19  8218.36  8029.64  8037.54  2.552117e+10  1.459242e+11
4  Jan 10 2020  7878.31  8166.55  7726.77  8166.55  2.871458e+10  1.482499e+11

###### Par duplication de la colonne puis supression de l'ancienne colonne

In [65]:
base_dupli=base2.copy()
base_dupli['Open']=base_dupli['Open*']
base_dupli.drop(['Open*'], axis='columns',inplace=True)
base_dupli.head()

          Date     High      Low  Close**        Volume    Market Cap     Open
0  Jan 14 2020  8879.51  8140.93  8827.76  4.484178e+10  1.603195e+11  8140.93
1  Jan 13 2020  8197.79  8079.70  8144.19  2.248291e+10  1.478905e+11  8189.77
2  Jan 12 2020  8200.06  8009.06  8192.49  2.290344e+10  1.487530e+11  8033.26
3  Jan 11 2020  8218.36  8029.64  8037.54  2.552117e+10  1.459242e+11  8162.19
4  Jan 10 2020  8166.55  7726.77  8166.55  2.871458e+10  1.482499e+11  7878.31

###### Par modification de la chaîne de caractères du nom de la colonne

In [66]:
def modif_adhoc(s):
    s=s.replace('*','')
    s=s.replace(' ','_')
    return s

In [67]:
base_function=base2.copy()
base_function.rename(modif_adhoc, axis='columns',inplace=True)
base_function.head()

          Date     Open     High      Low    Close        Volume    Market_Cap
0  Jan 14 2020  8140.93  8879.51  8140.93  8827.76  4.484178e+10  1.603195e+11
1  Jan 13 2020  8189.77  8197.79  8079.70  8144.19  2.248291e+10  1.478905e+11
2  Jan 12 2020  8033.26  8200.06  8009.06  8192.49  2.290344e+10  1.487530e+11
3  Jan 11 2020  8162.19  8218.36  8029.64  8037.54  2.552117e+10  1.459242e+11
4  Jan 10 2020  7878.31  8166.55  7726.77  8166.55  2.871458e+10  1.482499e+11

###### Par utilisation du module

In [68]:
base_method=base2.copy()
base_method.columns=base_method.columns.str.replace('*','')
base_method.head()

          Date     Open     High      Low    Close        Volume    Market Cap
0  Jan 14 2020  8140.93  8879.51  8140.93  8827.76  4.484178e+10  1.603195e+11
1  Jan 13 2020  8189.77  8197.79  8079.70  8144.19  2.248291e+10  1.478905e+11
2  Jan 12 2020  8033.26  8200.06  8009.06  8192.49  2.290344e+10  1.487530e+11
3  Jan 11 2020  8162.19  8218.36  8029.64  8037.54  2.552117e+10  1.459242e+11
4  Jan 10 2020  7878.31  8166.55  7726.77  8166.55  2.871458e+10  1.482499e+11

###### Passer le nom des colonnes en majuscule.

In [69]:
test = pd.DataFrame(data={'a':[1,2],
                         'b':[3,3]})
test

   a  b
0  1  3
1  2  3

In [75]:
#Methode 1 : Rename
test.rename(str.upper, axis='columns', inplace=True)
test

   A  B
0  1  3
1  2  3

In [76]:
#Methode 2 : Module
test.columns = test.columns.str.upper()
test

   A  B
0  1  3
1  2  3

In [82]:
import string.py 
chemin = "https://bit.ly/bitcoin-purchases2"
df = pd.read_csv(chemin)
df.head(10)
df.str.remplace()
df['wire amount'] = df['wire amount'].str.replace(',','.')

ModuleNotFoundError: No module named 'string.py'; 'string' is not a package

In [84]:
import random 
import str

In [86]:


def makeNumberStr(sep=[','], signs=['€','$']):
    avant = str(random.randint(1, 1000))
    apres = '{:02}'.format(random.randint(0,99))
    sep = random.choice(sep)
    sign = random.choice(signs)
    return avant + sep + apres + sign

col1 = [makeNumberStr() for _ in range(200)]
col2 = [makeNumberStr(['.', ',']) for _ in range(200)]
exo1 = pd.DataFrame(data = {"col1":col1, "col2":col2})

TypeError: 'module' object is not callable

In [ ]:
for i in [1,2]:
    exo[f'col{i}'] = exo[f'col{i}'].str.replace(',','.')
    exo[f'Devise col{i}'] = exo[f'col{i}'].str.get(-1)
    exo[f'col{i}'] = exo[f'col{i}'].str.slice(None,-1).astype('float')

In [88]:
s="abcdef"
s[-6]

'a'