In [1]:
import pandas as pd
chemin = "https://bit.ly/felonies-dataset"
df = pd.read_csv(chemin)

In [6]:
df.shape

(1000, 3)

In [5]:
df.head(5)

        Date of Arrest  Age Convicted
0  2014-07-16 14:59:18   77       Yes
1  2002-12-19 22:17:59   28       Yes
2  1994-06-28 09:31:40   21        No
3  1985-05-14 09:52:17   45       Yes
4  1985-05-25 14:06:28   39       Yes

comment transformer une valeur num√©zrique en categorie ?

In [11]:
o =pd.cut(df['Age'],
      bins=[10,14,20,65,100],
      labels=['child','Ado','Adulte','senior'])

In [12]:
exo1 = pd.Series(data=[0,1,2,3])

In [15]:
pd.cut(exo1,
      bins=[0,2,3],
      labels=['A','B'])

0    NaN
1      A
2      A
3      B
dtype: category
Categories (2, object): ['A' < 'B']

In [23]:
prefix = ["ten", "twen","thir","four","fif","six","seven","eigh","nine"]
labels = [p+'ties' for p in prefix]
labels

['tenties',
 'twenties',
 'thirties',
 'fourties',
 'fifties',
 'sixties',
 'seventies',
 'eighties',
 'nineties']

In [36]:
 df['decades'] = pd.cut(df['Age'],
      bins= list(range(9, 100, 10)),
      labels = labels)

In [37]:
df.head(5)

        Date of Arrest  Age Convicted    decades
0  2014-07-16 14:59:18   77       Yes  seventies
1  2002-12-19 22:17:59   28       Yes   twenties
2  1994-06-28 09:31:40   21        No   twenties
3  1985-05-14 09:52:17   45       Yes   fourties
4  1985-05-25 14:06:28   39       Yes   thirties

In [33]:
df['decades'].cat.codes

0      6
1      1
2      1
3      3
4      2
      ..
995    6
996    5
997    7
998    1
999    4
Length: 1000, dtype: int8

In [34]:
df['decades'] = df['decades'].cat.codes

In [35]:
df.head(5)

        Date of Arrest  Age Convicted  decades
0  2014-07-16 14:59:18   77       Yes        6
1  2002-12-19 22:17:59   28       Yes        1
2  1994-06-28 09:31:40   21        No        1
3  1985-05-14 09:52:17   45       Yes        3
4  1985-05-25 14:06:28   39       Yes        2