# Implémenter une régression linéaire

In [2]:
import pandas as pd 
import numpy as np

In [3]:
priceAvaibility = pd.read_csv('price_availability.csv', delimiter=';')

In [4]:
priceAvaibility.head()

,listing_id,day,created,available,local_currency,local_price,min_nights
0,9810829,2018-12-08,2018-09-27 06:14:10.000+0000,True,EUR,160,1
1,9810829,2018-12-08,2018-09-26 19:34:02.000+0000,True,EUR,160,1
2,20897010,2018-12-09,2018-09-27 10:38:57.000+0000,True,EUR,172,2
3,20897010,2018-12-09,2018-09-27 06:10:27.000+0000,True,EUR,172,2
4,20897010,2018-12-09,2018-09-26 19:30:25.000+0000,True,EUR,172,2

### tous les individues ont un prix

In [6]:
listingsFinal = pd.read_csv("listings_final.csv", delimiter=";",index_col = 0)

In [7]:
listingsFinal

,listing_id,name,type,city,neighborhood,latitude,longitude,person_capacity,beds,bedrooms,bathrooms,is_rebookable,is_new_listing,is_fully_refundable,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor
0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,1,2.0,False,True,True,False,False,1.00,1.00
1,661961,studio PARIS PLACE EDITH PIAF 75020,entire_home,Paris,NaN,48.867284,2.403255,2,1,1,1.0,False,False,True,True,False,0.88,0.69
2,1261705,chambre privée à louer @ paris oberkampf,private_room,Paris,NaN,48.867894,2.375897,1,1,1,1.0,False,False,True,True,False,1.00,1.00
3,1318834,Appartement au coeur du Marais,entire_home,Paris,République,48.870370,2.358510,3,2,2,1.0,False,False,True,False,False,0.82,0.48
4,1677091,Lovely & Quiet flat,entire_home,Paris,Buttes-Chaumont - Belleville,48.874149,2.373700,2,1,1,1.0,False,False,True,True,False,0.95,0.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,28335197,Studio cosy Jardin du Luxembourg,entire_home,Paris,Saint Germain des Prés - Odéon,48.848695,2.325857,2,1,0,1.0,False,True,True,False,False,0.79,1.00
996,28583013,Charmant 30m2 - Faubourg Saint Martin,entire_home,Paris,République,48.871623,2.358006,3,1,1,1.0,False,True,True,False,False,1.00,1.00
997,28628316,Cosy flat in the marais - Best area,entire_home,Paris,2e arrondissement,48.867434,2.351771,4,2,1,1.0,False,True,True,True,False,1.00,1.00
998,28792796,Appartement 3 chambres madeleine.,entire_home,Paris,Madeleine - Vendôme,48.870109,2.321475,6,4,2,1.5,False,True,True,False,False,1.00,1.00
999,28682896,Village Jourdain,private_room,Paris,Buttes-Chaumont - Belleville,48.875425,2.395240,2,1,1,1.0,False,True,True,False,False,1.00,1.00

# Données d'entrée

In [8]:
resultMeans = priceAvaibility.groupby('listing_id').mean()

In [9]:
resultMeans.tail(10)

            available  local_price  min_nights
listing_id
28832238     0.823834   173.450777    2.000000
28833455     0.397436   275.000000    2.000000
28834404     0.817460    94.388889    2.000000
28834563     0.462338    55.420779    1.000000
28835343     0.112782    30.000000    1.000000
28836096     0.082707   321.428571    1.022556
28838519     0.083333    54.483333    5.000000
28840013     0.743083   112.122530    2.000000
28846494     0.225564   168.037594    4.000000
28851976     0.812030   128.000000    2.000000

In [11]:
resultMeans['listing_id'] = priceAvaibility['listing_id'].unique()

In [12]:
listingsFinal.drop(589, inplace=True)

In [169]:
test = listingsFinal['listing_id'].isin(resultMeans['listing_id'])

In [146]:
for i in range(1,1000):
    if test[i]== False:
        print(i)

589

In [118]:
listingsFinal['listing_id']= (listingsFinal['listing_id'].isin(resultMeans['listing_id']) == True)

In [13]:
result = pd.merge(listingsFinal, resultMeans[['available','local_price','min_nights']],on='listing_id')

In [24]:
result

,listing_id,name,type,city,neighborhood,latitude,longitude,person_capacity,beds,bedrooms,...,is_rebookable,is_new_listing,is_fully_refundable,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor,available,local_price,min_nights
0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,1,...,False,True,True,False,False,1.00,1.00,0.234536,45.948454,1.0
1,661961,studio PARIS PLACE EDITH PIAF 75020,entire_home,Paris,NaN,48.867284,2.403255,2,1,1,...,False,False,True,True,False,0.88,0.69,0.030075,44.473684,2.0
2,1261705,chambre privée à louer @ paris oberkampf,private_room,Paris,NaN,48.867894,2.375897,1,1,1,...,False,False,True,True,False,1.00,1.00,0.744624,49.000000,3.0
3,1318834,Appartement au coeur du Marais,entire_home,Paris,République,48.870370,2.358510,3,2,2,...,False,False,True,False,False,0.82,0.48,0.953125,165.000000,2.0
4,1677091,Lovely & Quiet flat,entire_home,Paris,Buttes-Chaumont - Belleville,48.874149,2.373700,2,1,1,...,False,False,True,True,False,0.95,0.90,0.451128,69.774436,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,28335197,Studio cosy Jardin du Luxembourg,entire_home,Paris,Saint Germain des Prés - Odéon,48.848695,2.325857,2,1,0,...,False,True,True,False,False,0.79,1.00,0.113402,38.507732,2.0
995,28583013,Charmant 30m2 - Faubourg Saint Martin,entire_home,Paris,République,48.871623,2.358006,3,1,1,...,False,True,True,False,False,1.00,1.00,0.645408,147.752551,2.0
996,28628316,Cosy flat in the marais - Best area,entire_home,Paris,2e arrondissement,48.867434,2.351771,4,2,1,...,False,True,True,True,False,1.00,1.00,0.734536,152.860825,3.0
997,28792796,Appartement 3 chambres madeleine.,entire_home,Paris,Madeleine - Vendôme,48.870109,2.321475,6,4,2,...,False,True,True,False,False,1.00,1.00,0.639098,49.184211,5.0
998,28682896,Village Jourdain,private_room,Paris,Buttes-Chaumont - Belleville,48.875425,2.395240,2,1,1,...,False,True,True,False,False,1.00,1.00,0.868766,39.503937,1.0

$\alpha=10,20 ou 30\%$ sont utilisé pour le test 
training = 80%

In [15]:
from sklearn.model_selection import train_test_split

In [38]:
result.dtypes

listing_id                    int64
name                         object
type                         object
city                         object
neighborhood                 object
latitude                    float64
longitude                   float64
person_capacity               int64
beds                          int64
bedrooms                      int64
bathrooms                   float64
is_rebookable                  bool
is_new_listing                 bool
is_fully_refundable            bool
is_host_highly_rated           bool
is_business_travel_ready       bool
pricing_weekly_factor       float64
pricing_monthly_factor      float64
available                   float64
local_price                 float64
min_nights                  float64
dtype: object

In [113]:
x = result[['person_capacity','beds','bedrooms','bathrooms']]
y = result['local_price']
x

     person_capacity  beds  bedrooms  bathrooms
0                  1     1         1        2.0
1                  2     1         1        1.0
2                  1     1         1        1.0
3                  3     2         2        1.0
4                  2     1         1        1.0
..               ...   ...       ...        ...
994                2     1         0        1.0
995                3     1         1        1.0
996                4     2         1        1.0
997                6     4         2        1.5
998                2     1         1        1.0

[999 rows x 4 columns]

In [114]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state=42)
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(699, 4) (300, 4) (699,) (300,)

## Entraînement

In [115]:
from sklearn.linear_model import LinearRegression 
clf = LinearRegression()

In [116]:
clf.fit(x_train, y_train)

LinearRegression()

In [117]:
clf.predict(x_test)

array([123.52209138, 102.04062793, 103.31200929,  85.24040396,
       215.61430884, 160.53239745, 537.84588489,  81.83054584,
       363.01667945, 223.05930333, 120.11223326, 593.37703034,
       141.59369671, 235.82439093, 103.31200929, 123.52209138,
        81.83054584, 177.33262142, 407.24373825, 769.69860944,
       609.95626201, 200.08546622, 198.81408487,  81.83054584,
       103.31200929, 173.92276331, 167.97739193, 200.08546622,
       120.11223326,  85.24040396,  85.24040396, 221.78792197,
       103.31200929, 750.95677774, 415.55582814, 266.24322252,
       103.31200929, 407.47198   , 123.52209138, 202.84922124,
       140.32231535,  65.03032187, 200.08546622, 249.44299855,
       341.53521601, 123.52209138, 103.31200929, 178.60400278,
       123.52209138, 123.52209138, 123.52209138, 140.32231535,
       198.81408487, 103.31200929, 274.10607835, 178.60400278,
       243.26938542, 157.12253933, 216.8856902 ,  60.3490824 ,
       102.04062793, 167.97739193, 123.52209138, 232.41453282,
       164.56753381, 496.3825811 , 123.52209138, 123.52209138,
       221.78792197, 324.73499203, 221.78792197, 395.34574605,
       158.39392069, 177.33262142, 178.60400278, 425.31534358,
       161.8037788 , 103.31200929, 123.52209138, 103.31200929,
       260.06960939, 103.31200929, 260.06960939, 123.52209138,
       258.15212494, 123.52209138, 178.60400278,  65.03032187,
       178.60400278, 198.81408487, 342.80659736,  85.24040396,
       232.41453282,  40.78510341, 103.31200929, 103.31200929,
       123.52209138, 158.39392069, 140.32231535, 221.78792197,
       200.08546622, 178.60400278, 287.72468597, 103.31200929,
       178.60400278, 102.04062793,  85.24040396, 198.81408487,
       103.31200929, 178.60400278, 237.09577229, 244.54076677,
       321.32513392,  85.24040396, 123.52209138, 161.8037788 ,
        65.03032187, 584.21142045, 475.94425726, 123.52209138,
       287.72468597, 474.90111766, 140.32231535, 103.31200929,
       198.81408487, 158.39392069, 177.33262142,  85.24040396,
       379.81690343, 123.52209138, 160.53239745, 103.31200929,
       363.01667945, 335.58259519, 102.04062793, 451.92728055,
       123.52209138, 140.32231535, 123.52209138, 223.05930333,
       123.52209138, 103.31200929, 103.31200929, 253.89599626,
       123.52209138, 528.49065539, 123.52209138,  85.24040396,
       342.80659736, 123.52209138, 184.7776159 , 179.87538413,
       284.31482785, 123.52209138, 326.00637339, 178.60400278,
       172.65138195, 123.52209138, 658.19433391, 123.52209138,
       287.72468597, 178.60400278, 198.81408487, 103.31200929,
        65.03032187, 123.52209138, 103.31200929, 253.89599626,
       292.17768368, 160.53239745, 235.82439093, 364.28806081,
       123.52209138, 103.31200929, 103.31200929, 123.52209138,
       183.28524224, 103.31200929, 140.32231535, 238.36715364,
       192.86146404,  85.24040396, 161.8037788 , 178.60400278,
       103.31200929, 198.81408487, 194.1328454 , 430.44581711,
       243.26938542, 178.60400278, 102.04062793, 103.31200929,
       167.97739193, 103.31200929, 336.85397654,  58.85670874,
       177.33262142, 198.81408487, 275.59845202, 123.52209138,
        85.24040396, 290.90630233, 178.60400278, 361.52430579,
       103.31200929, 103.31200929, 123.52209138, 178.60400278,
       103.31200929, 198.81408487, 123.52209138, 140.32231535,
       123.52209138, 260.06960939, 215.61430884, 123.52209138,
       140.32231535, 178.60400278, 158.39392069, 140.32231535,
       103.31200929, 123.52209138, 103.31200929, 123.52209138,
       198.81408487, 103.31200929, 123.52209138, 123.52209138,
       123.52209138, 354.92558187, 123.52209138, 102.04062793,
       223.05930333, 451.92003111, 178.60400278, 178.60400278,
       160.53239745, 198.81408487, 332.17998652, 102.04062793,
       232.41453282, 178.60400278, 103.31200929, 160.53239745,
       167.97739193, 123.52209138, 200.08546622, 418.09859085,
       198.81408487, 253.89599626, 158.39392069, 123.52209138,
       123.52209138, 140.32231535,  85.24040396, 281.77206514,
       120.11223326, 140.32231535, 178.60400278, 140.32231535,
       178.60400278, 324.73499203, 178.60400278, 118.84085191,
       233.68591417, 103.31200929, 431.48895671, 161.8037788 ,
       123.52209138, 223.05930333, 379.81690343, 221.56692966,
       252.62461491, 198.81408487, 178.60400278, 123.52209138,
       103.31200929, 253.89599626, 158.39392069, 103.31200929,
       249.2147568 , 178.60400278, 103.31200929,  65.03032187,
       178.60400278, 161.8037788 , 200.08546622, 200.08546622,
       123.52209138, 215.61430884, 103.31200929, 123.52209138,
       177.33262142, 253.89599626, 123.52209138, 484.03535484,
       379.81690343, 102.04062793, 103.31200929, 565.50096146])

In [118]:
clf.score(x_test,y_test)

0.4615153233140561

Les coeficients impact le prix en fonction de la valeurs du coeficient associé au critére qui lui est assicie .

In [119]:
clf.coef_

array([ 38.28168742, -21.48146344,  20.21008209,  88.9106011 ])