# Implémenter une régression linéaire

In [62]:
import pandas as pd 
import numpy as np

In [2]:
priceAvaibility = pd.read_csv('price_availability.csv', delimiter=';')

In [3]:
priceAvaibility.head()

,listing_id,day,created,available,local_currency,local_price,min_nights
0,9810829,2018-12-08,2018-09-27 06:14:10.000+0000,True,EUR,160,1
1,9810829,2018-12-08,2018-09-26 19:34:02.000+0000,True,EUR,160,1
2,20897010,2018-12-09,2018-09-27 10:38:57.000+0000,True,EUR,172,2
3,20897010,2018-12-09,2018-09-27 06:10:27.000+0000,True,EUR,172,2
4,20897010,2018-12-09,2018-09-26 19:30:25.000+0000,True,EUR,172,2

In [4]:
priceAvaibility['listing_id'].value_counts()

24054752    529
1132615     528
28422066    528
4206844     528
18305959    528
           ...
15751342    121
6657528     121
28838519    120
22953092    120
9765141     119
Name: listing_id, Length: 11749, dtype: int64

### tous les individues ont un prix

In [160]:
listingsFinal = pd.read_csv("listings_final.csv", delimiter=";",index_col = 0)

In [161]:
listingsFinal

,listing_id,name,type,city,neighborhood,latitude,longitude,person_capacity,beds,bedrooms,bathrooms,is_rebookable,is_new_listing,is_fully_refundable,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor
0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,1,2.0,False,True,True,False,False,1.00,1.00
1,661961,studio PARIS PLACE EDITH PIAF 75020,entire_home,Paris,NaN,48.867284,2.403255,2,1,1,1.0,False,False,True,True,False,0.88,0.69
2,1261705,chambre privée à louer @ paris oberkampf,private_room,Paris,NaN,48.867894,2.375897,1,1,1,1.0,False,False,True,True,False,1.00,1.00
3,1318834,Appartement au coeur du Marais,entire_home,Paris,République,48.870370,2.358510,3,2,2,1.0,False,False,True,False,False,0.82,0.48
4,1677091,Lovely & Quiet flat,entire_home,Paris,Buttes-Chaumont - Belleville,48.874149,2.373700,2,1,1,1.0,False,False,True,True,False,0.95,0.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,28335197,Studio cosy Jardin du Luxembourg,entire_home,Paris,Saint Germain des Prés - Odéon,48.848695,2.325857,2,1,0,1.0,False,True,True,False,False,0.79,1.00
996,28583013,Charmant 30m2 - Faubourg Saint Martin,entire_home,Paris,République,48.871623,2.358006,3,1,1,1.0,False,True,True,False,False,1.00,1.00
997,28628316,Cosy flat in the marais - Best area,entire_home,Paris,2e arrondissement,48.867434,2.351771,4,2,1,1.0,False,True,True,True,False,1.00,1.00
998,28792796,Appartement 3 chambres madeleine.,entire_home,Paris,Madeleine - Vendôme,48.870109,2.321475,6,4,2,1.5,False,True,True,False,False,1.00,1.00
999,28682896,Village Jourdain,private_room,Paris,Buttes-Chaumont - Belleville,48.875425,2.395240,2,1,1,1.0,False,True,True,False,False,1.00,1.00

# Données d'entrée

In [162]:
resultMeans = priceAvaibility.groupby('listing_id').mean()

In [163]:
resultMeans.tail(10)

            available  local_price  min_nights
listing_id
28832238     0.823834   173.450777    2.000000
28833455     0.397436   275.000000    2.000000
28834404     0.817460    94.388889    2.000000
28834563     0.462338    55.420779    1.000000
28835343     0.112782    30.000000    1.000000
28836096     0.082707   321.428571    1.022556
28838519     0.083333    54.483333    5.000000
28840013     0.743083   112.122530    2.000000
28846494     0.225564   168.037594    4.000000
28851976     0.812030   128.000000    2.000000

In [167]:
resultMeans['listing_id'] = priceAvaibility['listing_id'].unique()

In [168]:
listingsFinal.drop(589, inplace=True)

KeyError: '[589] not found in axis'

In [169]:
test = listingsFinal['listing_id'].isin(resultMeans['listing_id'])

In [170]:
test.value_counts()

True    999
Name: listing_id, dtype: int64

In [171]:
listingsFinal['listing_id']

0      28581061
1        661961
2       1261705
3       1318834
4       1677091
         ...
995    28335197
996    28583013
997    28628316
998    28792796
999    28682896
Name: listing_id, Length: 999, dtype: int64

In [146]:
for i in range(1,1000):
    if test[i]== False:
        print(i)

589

In [118]:
listingsFinal['listing_id']= (listingsFinal['listing_id'].isin(resultMeans['listing_id']) == True)

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: listing_id, Length: 999, dtype: bool

In [175]:
result = pd.merge(listingsFinal, resultMeans[['available','local_price','min_nights']],on='listing_id')