# Implémenter une régression linéaire

In [3]:
import pandas as pd 
import numpy as np

In [6]:
priceAvaibility = pd.read_csv('price_availability.csv', delimiter=';')

In [11]:
priceAvaibility.tail()

,listing_id,day,created,available,local_currency,local_price,min_nights
4748691,23608395,2018-09-06,2018-09-27 06:05:42.000+0000,False,EUR,24,1
4748692,23608395,2018-09-06,2018-09-26 19:31:32.000+0000,False,EUR,24,1
4748693,1447132,2018-12-27,2018-09-27 10:46:16.000+0000,False,EUR,125,3
4748694,1447132,2018-12-27,2018-09-27 06:07:36.000+0000,False,EUR,125,3
4748695,1447132,2018-12-27,2018-09-26 19:37:40.000+0000,False,EUR,125,3

In [10]:
priceAvaibility['local_price'].isna().value_counts()

False    4748696
Name: local_price, dtype: int64

### tous les individues ont un prix

In [4]:
listingsFinal = pd.read_csv("listings_final.csv", delimiter=";",index_col = 0)

In [5]:
listingsFinal.head(5)

,listing_id,name,type,city,neighborhood,latitude,longitude,person_capacity,beds,bedrooms,bathrooms,is_rebookable,is_new_listing,is_fully_refundable,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor
0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,1,2.0,False,True,True,False,False,1.00,1.00
1,661961,studio PARIS PLACE EDITH PIAF 75020,entire_home,Paris,NaN,48.867284,2.403255,2,1,1,1.0,False,False,True,True,False,0.88,0.69
2,1261705,chambre privée à louer @ paris oberkampf,private_room,Paris,NaN,48.867894,2.375897,1,1,1,1.0,False,False,True,True,False,1.00,1.00
3,1318834,Appartement au coeur du Marais,entire_home,Paris,République,48.870370,2.358510,3,2,2,1.0,False,False,True,False,False,0.82,0.48
4,1677091,Lovely & Quiet flat,entire_home,Paris,Buttes-Chaumont - Belleville,48.874149,2.373700,2,1,1,1.0,False,False,True,True,False,0.95,0.90

# Données d'entrée

moyennes local_price par ID

In [14]:
resultMeans = priceAvaibility.groupby('listing_id').mean()

In [16]:
resultMeans.tail(5)

            available  local_price  min_nights
listing_id
28836096     0.082707   321.428571    1.022556
28838519     0.083333    54.483333    5.000000
28840013     0.743083   112.122530    2.000000
28846494     0.225564   168.037594    4.000000
28851976     0.812030   128.000000    2.000000

Ajout de la colonnnes listing_id dans le dataset des moyennes

In [17]:
resultMeans['listing_id'] = priceAvaibility['listing_id'].unique()

Un des id du dataset listingFinal n'a pas de prix dans le dataset resultMeans. il faut trouver l'id concerné et le supprimer

In [18]:
test = listingsFinal['listing_id'].isin(resultMeans['listing_id'])

In [19]:
for i in range(1,1000):
    if test[i]== False:
        print(i)

589

In [20]:
listingsFinal.drop(589, inplace=True)

Fusion des 2 datasets sur l'id listing_id

In [21]:
result = pd.merge(listingsFinal, resultMeans[['available','local_price','min_nights']],on='listing_id')

In [22]:
result.head(5)

,listing_id,name,type,city,neighborhood,latitude,longitude,person_capacity,beds,bedrooms,...,is_rebookable,is_new_listing,is_fully_refundable,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor,available,local_price,min_nights
0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,1,...,False,True,True,False,False,1.00,1.00,0.234536,45.948454,1.0
1,661961,studio PARIS PLACE EDITH PIAF 75020,entire_home,Paris,NaN,48.867284,2.403255,2,1,1,...,False,False,True,True,False,0.88,0.69,0.030075,44.473684,2.0
2,1261705,chambre privée à louer @ paris oberkampf,private_room,Paris,NaN,48.867894,2.375897,1,1,1,...,False,False,True,True,False,1.00,1.00,0.744624,49.000000,3.0
3,1318834,Appartement au coeur du Marais,entire_home,Paris,République,48.870370,2.358510,3,2,2,...,False,False,True,False,False,0.82,0.48,0.953125,165.000000,2.0
4,1677091,Lovely & Quiet flat,entire_home,Paris,Buttes-Chaumont - Belleville,48.874149,2.373700,2,1,1,...,False,False,True,True,False,0.95,0.90,0.451128,69.774436,3.0

$\alpha=10,20 ou 30\%$ sont utilisé pour le test 
training = 80%

In [1]:
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'sklearn'

In [38]:
result.dtypes

listing_id                    int64
name                         object
type                         object
city                         object
neighborhood                 object
latitude                    float64
longitude                   float64
person_capacity               int64
beds                          int64
bedrooms                      int64
bathrooms                   float64
is_rebookable                  bool
is_new_listing                 bool
is_fully_refundable            bool
is_host_highly_rated           bool
is_business_travel_ready       bool
pricing_weekly_factor       float64
pricing_monthly_factor      float64
available                   float64
local_price                 float64
min_nights                  float64
dtype: object

In [23]:
x = result[['person_capacity','beds','bedrooms','bathrooms']]
y = result['local_price']

In [26]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state=42)
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(699, 4) (300, 4) (699,) (300,)

## Entraînement

In [2]:
from sklearn.linear_model import LinearRegression 
clf = LinearRegression()

ModuleNotFoundError: No module named 'sklearn'

In [3]:
clf = LinearRegression().fit(x_train, y_train)

NameError: name 'LinearRegression' is not defined

In [117]:
clf.predict(x_test)

array([123.52209138, 102.04062793, 103.31200929,  85.24040396,
       215.61430884, 160.53239745, 537.84588489,  81.83054584,
       363.01667945, 223.05930333, 120.11223326, 593.37703034,
       141.59369671, 235.82439093, 103.31200929, 123.52209138,
        81.83054584, 177.33262142, 407.24373825, 769.69860944,
       609.95626201, 200.08546622, 198.81408487,  81.83054584,
       103.31200929, 173.92276331, 167.97739193, 200.08546622,
       120.11223326,  85.24040396,  85.24040396, 221.78792197,
       103.31200929, 750.95677774, 415.55582814, 266.24322252,
       103.31200929, 407.47198   , 123.52209138, 202.84922124,
       140.32231535,  65.03032187, 200.08546622, 249.44299855,
       341.53521601, 123.52209138, 103.31200929, 178.60400278,
       123.52209138, 123.52209138, 123.52209138, 140.32231535,
       198.81408487, 103.31200929, 274.10607835, 178.60400278,
       243.26938542, 157.12253933, 216.8856902 ,  60.3490824 ,
       102.04062793, 167.97739193, 123.52209138, 232.41453282,
       164.56753381, 496.3825811 , 123.52209138, 123.52209138,
       221.78792197, 324.73499203, 221.78792197, 395.34574605,
       158.39392069, 177.33262142, 178.60400278, 425.31534358,
       161.8037788 , 103.31200929, 123.52209138, 103.31200929,
       260.06960939, 103.31200929, 260.06960939, 123.52209138,
       258.15212494, 123.52209138, 178.60400278,  65.03032187,
       178.60400278, 198.81408487, 342.80659736,  85.24040396,
       232.41453282,  40.78510341, 103.31200929, 103.31200929,
       123.52209138, 158.39392069, 140.32231535, 221.78792197,
       200.08546622, 178.60400278, 287.72468597, 103.31200929,
       178.60400278, 102.04062793,  85.24040396, 198.81408487,
       103.31200929, 178.60400278, 237.09577229, 244.54076677,
       321.32513392,  85.24040396, 123.52209138, 161.8037788 ,
        65.03032187, 584.21142045, 475.94425726, 123.52209138,
       287.72468597, 474.90111766, 140.32231535, 103.31200929,
       198.81408487, 158.39392069, 177.33262142,  85.24040396,
       379.81690343, 123.52209138, 160.53239745, 103.31200929,
       363.01667945, 335.58259519, 102.04062793, 451.92728055,
       123.52209138, 140.32231535, 123.52209138, 223.05930333,
       123.52209138, 103.31200929, 103.31200929, 253.89599626,
       123.52209138, 528.49065539, 123.52209138,  85.24040396,
       342.80659736, 123.52209138, 184.7776159 , 179.87538413,
       284.31482785, 123.52209138, 326.00637339, 178.60400278,
       172.65138195, 123.52209138, 658.19433391, 123.52209138,
       287.72468597, 178.60400278, 198.81408487, 103.31200929,
        65.03032187, 123.52209138, 103.31200929, 253.89599626,
       292.17768368, 160.53239745, 235.82439093, 364.28806081,
       123.52209138, 103.31200929, 103.31200929, 123.52209138,
       183.28524224, 103.31200929, 140.32231535, 238.36715364,
       192.86146404,  85.24040396, 161.8037788 , 178.60400278,
       103.31200929, 198.81408487, 194.1328454 , 430.44581711,
       243.26938542, 178.60400278, 102.04062793, 103.31200929,
       167.97739193, 103.31200929, 336.85397654,  58.85670874,
       177.33262142, 198.81408487, 275.59845202, 123.52209138,
        85.24040396, 290.90630233, 178.60400278, 361.52430579,
       103.31200929, 103.31200929, 123.52209138, 178.60400278,
       103.31200929, 198.81408487, 123.52209138, 140.32231535,
       123.52209138, 260.06960939, 215.61430884, 123.52209138,
       140.32231535, 178.60400278, 158.39392069, 140.32231535,
       103.31200929, 123.52209138, 103.31200929, 123.52209138,
       198.81408487, 103.31200929, 123.52209138, 123.52209138,
       123.52209138, 354.92558187, 123.52209138, 102.04062793,
       223.05930333, 451.92003111, 178.60400278, 178.60400278,
       160.53239745, 198.81408487, 332.17998652, 102.04062793,
       232.41453282, 178.60400278, 103.31200929, 160.53239745,
       167.97739193, 123.52209138, 200.08546622, 418.09859085,
       198.81408487, 253.89599626, 158.39392069, 123.52209138,
       123.52209138, 140.32231535,  85.24040396, 281.77206514,
       120.11223326, 140.32231535, 178.60400278, 140.32231535,
       178.60400278, 324.73499203, 178.60400278, 118.84085191,
       233.68591417, 103.31200929, 431.48895671, 161.8037788 ,
       123.52209138, 223.05930333, 379.81690343, 221.56692966,
       252.62461491, 198.81408487, 178.60400278, 123.52209138,
       103.31200929, 253.89599626, 158.39392069, 103.31200929,
       249.2147568 , 178.60400278, 103.31200929,  65.03032187,
       178.60400278, 161.8037788 , 200.08546622, 200.08546622,
       123.52209138, 215.61430884, 103.31200929, 123.52209138,
       177.33262142, 253.89599626, 123.52209138, 484.03535484,
       379.81690343, 102.04062793, 103.31200929, 565.50096146])

In [30]:
clf.score(x_test,y_test)

0.4615153233140561

Les coeficients impact le prix en fonction de la valeurs du coeficient associé au critére qui lui est assicie .

In [119]:
clf.coef_

array([ 38.28168742, -21.48146344,  20.21008209,  88.9106011 ])