# Implémenter une régression linéaire

In [2]:
import pandas as pd

In [38]:
priceAvaibility = pd.read_csv('price_availability.csv', delimiter=';')

In [39]:
priceAvaibility.head()

,listing_id,day,created,available,local_currency,local_price,min_nights
0,9810829,2018-12-08,2018-09-27 06:14:10.000+0000,True,EUR,160,1
1,9810829,2018-12-08,2018-09-26 19:34:02.000+0000,True,EUR,160,1
2,20897010,2018-12-09,2018-09-27 10:38:57.000+0000,True,EUR,172,2
3,20897010,2018-12-09,2018-09-27 06:10:27.000+0000,True,EUR,172,2
4,20897010,2018-12-09,2018-09-26 19:30:25.000+0000,True,EUR,172,2

In [ ]:
priceAvaibility['listing_id'].value_counts()

### tous les individues ont un prix

In [8]:
listingsFinal = pd.read_csv("listings_final.csv", delimiter=";",index_col = 0)

In [9]:
listingsFinal.head(10)

,listing_id,name,type,city,neighborhood,latitude,longitude,person_capacity,beds,bedrooms,bathrooms,is_rebookable,is_new_listing,is_fully_refundable,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor
0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,1,2.0,False,True,True,False,False,1.00,1.00
1,661961,studio PARIS PLACE EDITH PIAF 75020,entire_home,Paris,NaN,48.867284,2.403255,2,1,1,1.0,False,False,True,True,False,0.88,0.69
2,1261705,chambre privée à louer @ paris oberkampf,private_room,Paris,NaN,48.867894,2.375897,1,1,1,1.0,False,False,True,True,False,1.00,1.00
3,1318834,Appartement au coeur du Marais,entire_home,Paris,République,48.870370,2.358510,3,2,2,1.0,False,False,True,False,False,0.82,0.48
4,1677091,Lovely & Quiet flat,entire_home,Paris,Buttes-Chaumont - Belleville,48.874149,2.373700,2,1,1,1.0,False,False,True,True,False,0.95,0.90
5,2157481,"CENTRAL ET BIEN CONÇU,50m2+terrasse",entire_home,Paris,10e arrondissement,48.875863,2.372665,4,2,1,1.0,False,False,True,False,False,1.00,1.00
6,1140610,Petit atelier canal st Martin,entire_home,Paris,République,48.869362,2.368722,3,1,1,1.0,False,False,True,False,False,0.86,0.66
7,5662637,Sophisticated & Sunny Opulent 1BR *Opéra *4 Gu...,entire_home,Paris,Opéra - Grands Boulevards,48.872781,2.351549,2,2,1,1.0,False,False,True,True,False,0.92,0.85
8,5981388,Paris 16 - Elysées-Kléber-Trocadero /,entire_home,Paris,Passy,48.868952,2.289333,6,5,2,2.0,False,False,True,True,False,0.90,0.75
9,149534,GREAT WARM FULL APT LE HAUT MARAIS,entire_home,Paris,NaN,48.866360,2.361844,4,2,1,1.0,False,False,True,True,False,1.00,0.40

# Données d'entrée

In [40]:
resultMeans = priceAvaibility.groupby('listing_id').mean()
resultMeans.describe()

MemoryError: Unable to allocate 72.5 MiB for an array with shape (4748696, 2) and data type float64

In [36]:
priceAvaibility.dtypes

available      float64
local_price    float64
min_nights     float64
dtype: object

In [33]:
result = pd.merge(listingsFinal, priceAvaibility['available','local_price'],on='listing_id')

KeyError: ('available', 'local_price')

In [15]:
priceAvaibility.dtypes

listing_id         int64
day               object
created           object
available           bool
local_currency    object
local_price        int64
min_nights         int64
dtype: object