In [1]:
import pandas as pd

In [2]:
class DataHandler:
    """
        recuperer les data du GCP bucket
    """
    def __inti__(self):
        self.df_listings_final = None
        self.df_price_availability = None
        self.df_merged = None

    def get_data(self):
        """
            charge les datasets des csv
        """
        self.df_listings_final = pd.read_csv('listings_final.csv', delimiter=";",index_col = 0)
        self.df_price_availability = pd.read_csv('price_availability.csv', delimiter=';')
        #self.df_listings_final = pd.read_csv('https://storage.googleapis.com/h3-data/listings_final.csv', delimiter=";",index_col = 0)
        #self.df_price_availability = pd.read_csv('phttps://storage.googleapis.com/h3-data/price_availability.csv', delimiter=';')
        print("Datasets chargés ")
        
    def group_data(self):
        """
            merge les 2 dataset sur la colonne listing_id
        """
        resultMeans = self.df_price_availability.groupby('listing_id').mean()
        resultMeans['listing_id'] = self.df_price_availability['listing_id'].unique()
        self.df_merged = pd.merge(self.df_listings_final, resultMeans[['available','local_price','min_nights']],on='listing_id')
        print("dataset merged")
        
    def get_process_data(self):
        """
            get_data() + group_data()
        """
        self.get_data()
        self.group_data()

In [3]:
data = DataHandler()

In [6]:
data.get_process_data()
%time

Datasets chargés
dataset merged
Wall time: 1 ms

In [7]:
data.df_merged.head(5)

,listing_id,name,type,city,neighborhood,latitude,longitude,person_capacity,beds,bedrooms,...,is_rebookable,is_new_listing,is_fully_refundable,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor,available,local_price,min_nights
0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,1,...,False,True,True,False,False,1.00,1.00,0.234536,45.948454,1.0
1,661961,studio PARIS PLACE EDITH PIAF 75020,entire_home,Paris,NaN,48.867284,2.403255,2,1,1,...,False,False,True,True,False,0.88,0.69,0.030075,44.473684,2.0
2,1261705,chambre privée à louer @ paris oberkampf,private_room,Paris,NaN,48.867894,2.375897,1,1,1,...,False,False,True,True,False,1.00,1.00,0.744624,49.000000,3.0
3,1318834,Appartement au coeur du Marais,entire_home,Paris,République,48.870370,2.358510,3,2,2,...,False,False,True,False,False,0.82,0.48,0.953125,165.000000,2.0
4,1677091,Lovely & Quiet flat,entire_home,Paris,Buttes-Chaumont - Belleville,48.874149,2.373700,2,1,1,...,False,False,True,True,False,0.95,0.90,0.451128,69.774436,3.0

In [ ]:
dropNaPourcentage : drop la colonne suivant un seuil %( param)
dropUselessFeature : drop des colonnes ayant si elle est inutile et si elle a 100% de Na 
dropDublicates : drop des duplicates dans les colonnes

In [ ]:
import pandas as pd

In [ ]:
class FeatureRecipe:
    
    def __init__(self, data: pd.dataframe):
        self.df = data
    
    def dropNaNPourcentage(self, seuil):
        """
            drop la colonne suivant un seuil %( param)
        """
        dimension = self.df.shape
        for colonne in self.df:
            nbNaN = self.df[colonne].isna().sum()
            pourcentage = (nbNaN / dimension[0]) * 100
            if pourcentage > seuil :
            del self.df[colonne]
            print('{} supprimée'.format(colonne))

    
    def dropUselessFeature(self):
        to_drop = ['is_rebookable','is_new_listing','is_fully_refundable','is_business_travel_ready']
        self.df.drop(columns=to_drop, inplace=True)
        for colonne in self.df:
            if self.df[colonne].nunique() <=1:
                print('{} supprimée'.format(colonne))
                del self.df[colonne]
    
    def dropDuplicates(self):
        """
            drop des duplicates de colonnes 
        """
        i=0
        for colonnes in self.df: 
        i+=1
        y=0
        for colonnesDuplicate in self.df: 
            y+=1
            if i!=y and (self.df[colonnes].equals(self.df[colonnesDuplicate])) == True:
                del self.df[colonnesDuplicate]
                print('colonne {} supprimée'.format(colonnesDuplicate))
    
    def separeteVariableTypes(self):
        pass
    
    def deal_datetime(self):
        pass
    
    def extractDecisionData(self):
        pass
    
    def prepareData(self):
        self.dropUselessFeature()
        self.dropDuplicates()
        self.dropNaNPourcentage()
        self.extraextractDecisionData()

In [29]:
import pandas as pd 
df_listings_final = pd.read_csv('listings_final.csv', delimiter=";",index_col = 0)
df_price_availability = pd.read_csv('price_availability.csv', delimiter=';')
resultMeans = df_price_availability.groupby('listing_id').mean()
resultMeans['listing_id'] = df_price_availability['listing_id'].unique()

In [30]:
df_merged = pd.merge(df_listings_final, resultMeans[['available','local_price','min_nights']],on='listing_id')

In [14]:
df_merged.head()

,listing_id,name,type,city,neighborhood,latitude,longitude,person_capacity,beds,bedrooms,...,is_rebookable,is_new_listing,is_fully_refundable,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor,available,local_price,min_nights
0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,1,...,False,True,True,False,False,1.00,1.00,0.234536,45.948454,1.0
1,661961,studio PARIS PLACE EDITH PIAF 75020,entire_home,Paris,NaN,48.867284,2.403255,2,1,1,...,False,False,True,True,False,0.88,0.69,0.030075,44.473684,2.0
2,1261705,chambre privée à louer @ paris oberkampf,private_room,Paris,NaN,48.867894,2.375897,1,1,1,...,False,False,True,True,False,1.00,1.00,0.744624,49.000000,3.0
3,1318834,Appartement au coeur du Marais,entire_home,Paris,République,48.870370,2.358510,3,2,2,...,False,False,True,False,False,0.82,0.48,0.953125,165.000000,2.0
4,1677091,Lovely & Quiet flat,entire_home,Paris,Buttes-Chaumont - Belleville,48.874149,2.373700,2,1,1,...,False,False,True,True,False,0.95,0.90,0.451128,69.774436,3.0

In [41]:
dimension = df_merged.shape

In [33]:
test = df_merged.sum()

In [67]:
for colonne in df_merged:
    seuil = 6.0
    nbNaN = df_merged[colonne].isna().sum()
    pourcentage = (nbNaN / dimension[0]) * 100
    if pourcentage > seuil :
        print('{} supprimée'.format(colonne))
        del df_merged[colonne]

neighborhood supprimée

In [68]:
df_merged.shape

(999, 20)

In [49]:
df_merged.head(5)

,listing_id,name,type,city,neighborhood,latitude,longitude,person_capacity,beds,bedrooms,...,is_rebookable,is_new_listing,is_fully_refundable,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor,available,local_price,min_nights
0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,1,...,False,True,True,False,False,1.00,1.00,0.234536,45.948454,1.0
1,661961,studio PARIS PLACE EDITH PIAF 75020,entire_home,Paris,NaN,48.867284,2.403255,2,1,1,...,False,False,True,True,False,0.88,0.69,0.030075,44.473684,2.0
2,1261705,chambre privée à louer @ paris oberkampf,private_room,Paris,NaN,48.867894,2.375897,1,1,1,...,False,False,True,True,False,1.00,1.00,0.744624,49.000000,3.0
3,1318834,Appartement au coeur du Marais,entire_home,Paris,République,48.870370,2.358510,3,2,2,...,False,False,True,False,False,0.82,0.48,0.953125,165.000000,2.0
4,1677091,Lovely & Quiet flat,entire_home,Paris,Buttes-Chaumont - Belleville,48.874149,2.373700,2,1,1,...,False,False,True,True,False,0.95,0.90,0.451128,69.774436,3.0

In [48]:
df_merged.dtypes

listing_id                    int64
name                         object
type                         object
city                         object
neighborhood                 object
latitude                    float64
longitude                   float64
person_capacity               int64
beds                          int64
bedrooms                      int64
bathrooms                   float64
is_rebookable                  bool
is_new_listing                 bool
is_fully_refundable            bool
is_host_highly_rated           bool
is_business_travel_ready       bool
pricing_weekly_factor       float64
pricing_monthly_factor      float64
available                   float64
local_price                 float64
min_nights                  float64
dtype: object

In [31]:
to_drop = ['is_rebookable','is_new_listing','is_fully_refundable','is_business_travel_ready']
df_merged.drop(columns=to_drop, inplace=True)

In [61]:
df_merged = pd.merge(df_listings_final, resultMeans[['available','local_price','min_nights']],on='listing_id')

In [68]:
i=0
for colonnes in df_merged: 
    i+=1
    y=0
    for colonnesDuplicate in df_merged: 
        y+=1
        if i!=y and (df_merged[colonnes].equals(df_merged[colonnesDuplicate])) == True:
            del df_merged[colonnesDuplicate]
            print('colonne {} supprimée'.format(colonnesDuplicate))

colonne listing_id supprimée

KeyError: 'listing_id'