### Q1

un KPI est un diagramme utilisé en entreprise afin de visualiser le comportements des données

### Q2

In [57]:
import pandas as pd
import numpy as np

### Q3

In [51]:
chemin = "eval_data.csv"
df = pd.read_csv(chemin)

### Q4

In [56]:
df.head(10)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,NaN
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,NaN
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Q5

In [4]:
df.shape

(4622, 6)

### Q6

In [5]:
df.dtypes

Unnamed: 0             int64
order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

### Q7

In [7]:
df.describe()

        Unnamed: 0     order_id     quantity
count  4622.000000  4622.000000  4622.000000
mean   2310.500000   927.254868     1.075725
std    1334.400802   528.890796     0.410186
min       0.000000     1.000000     1.000000
25%    1155.250000   477.250000     1.000000
50%    2310.500000   926.000000     1.000000
75%    3465.750000  1393.000000     1.000000
max    4621.000000  1834.000000    15.000000

### Q8

In [60]:
df.groupby('quantity').describe()

         Unnamed: 0                                                     \
              count         mean          std     min      25%     50%
quantity
1            4355.0  2307.323307  1335.643078     0.0  1150.50  2303.0
2             224.0  2282.968750  1316.083469     4.0  1152.00  2306.5
3              28.0  2592.142857  1235.318334   409.0  1449.25  3030.5
4              10.0  2909.600000  1425.736784  1254.0  1538.75  2918.5
5               1.0  2441.000000          NaN  2441.0  2441.00  2441.0
7               1.0  3599.000000          NaN  3599.0  3599.00  3599.0
8               1.0  3887.000000          NaN  3887.0  3887.00  3887.0
10              1.0  4152.000000          NaN  4152.0  4152.00  4152.0
15              1.0  3598.000000          NaN  3598.0  3598.00  3598.0

                          order_id                                            \
              75%     max    count         mean         std     min      25%
quantity
1         3459.50  4621.0   4355.0   925.988978  529.371002     1.0   475.00
2         3444.00  4582.0    224.0   916.330357  521.900776     2.0   475.50
3         3510.25  4186.0     28.0  1039.464286  489.092999   178.0   589.75
4         4360.00  4491.0     10.0  1165.200000  562.952889   511.0   622.50
5         2441.00  2441.0      1.0   970.000000         NaN   970.0   970.00
7         3599.00  3599.0      1.0  1443.000000         NaN  1443.0  1443.00
8         3887.00  3887.0      1.0  1559.000000         NaN  1559.0  1559.00
10        4152.00  4152.0      1.0  1660.000000         NaN  1660.0  1660.00
15        3598.00  3598.0      1.0  1443.000000         NaN  1443.0  1443.00


             50%      75%     max
quantity
1          925.0  1391.00  1834.0
2          923.5  1382.75  1822.0
3         1206.5  1409.25  1671.0
4         1172.0  1737.50  1786.0
5          970.0   970.00   970.0
7         1443.0  1443.00  1443.0
8         1559.0  1559.00  1559.0
10        1660.0  1660.00  1660.0
15        1443.0  1443.00  1443.0

### Q9

In [42]:
print('nombre d\'items commandés :',df['quantity'].sum())

nombre d'items commandés : 4972

### Q10

In [64]:
df['item_price']= df['item_price'].str.replace('$','').astype('float')

In [69]:
total = df['item_price'] * df['quantity']

print(total.sum())

38998.020000000004

Q11

In [28]:
df.mean()

Unnamed: 0    2310.500000
order_id       927.254868
quantity         1.075725
dtype: float64